# pip install uv
# uv pip compile --upgrade --python-version 3.14 --universal --output-file requirements-runtime.txt requirements.in
# pip install -r requirements-runtime.txt
fastapi
msgpack>=1.2.2
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic-settings
pydantic
alembic
authlib
cryptography
PyJWT
pwdlib[argon2]
httpx[socks]
pywebpush==2.5.0
itsdangerous
python-multipart
qrcode[pil]
reportlab
setuptools>=78.1.1
slowapi
